# =========================
# Sensitive files
# =========================
encrypted_seed.txt

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment files
# =========================
.env

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
